<div class="ContentSideSections Implementation">
    <mat-card *ngIf="role" ngForm #roleForm="ngForm">
        <mat-card-title>Role Details</mat-card-title>
        <mat-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="roleName">Role Name  *</label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="roleName" [(ngModel)]="role.roleName"  required placeholder="Required"  name="roleName" #roleName="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!roleName.valid && roleName.dirty && roleName.errors['required']">
                        <i class="fa fa-close"></i>
                        Role Name is required
                    </div>
                </div>
            </div>
         </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="sub" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
            <button mat-raised-button (click)="onSave()" [disabled]="!roleForm.form.valid"><mat-icon>save</mat-icon>Save</button>
        </mat-card-actions>
    </mat-card>

</div>
