<div class="ContentSideSections Implementation">
    <mat-card *ngIf="appWidget" ngForm #appWidgetForm="ngForm">
        <mat-card-title>AppWidget Details</mat-card-title>
        <mat-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="app">App*</label></div>
                <div class="ui-grid-col-4">
                    <app_-auto-complete [(ngModel)]="appWidget.app" id="app" name="app" [disabled]="sub"></app_-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton type="button" id="gotoApp" type="button" (click)="gotoApp()" *ngIf="appWidget.app" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton type="button" id="clearApp" type="button" (click)="clearApp()" *ngIf="appWidget.app" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="rule">Rule </label></div>
                <div class="ui-grid-col-6">
                    <textarea pInputTextarea id="rule" [(ngModel)]="appWidget.rule" autoResize="true" name="rule" #rule="ngModel"></textarea>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
         </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="sub" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
            <button mat-raised-button (click)="onSave()" [disabled]="!appWidgetForm.form.valid"><mat-icon>save</mat-icon>Save</button>
        </mat-card-actions>
    </mat-card>

</div>
