<div class="ContentSideSections Implementation">
    <mat-card *ngIf="!sub">
        <mat-card-title>Search AppWidget with search criterias</mat-card-title>
        <mat-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #appWidgetForm="ngForm">
<div class="ui-grid-row">
    <div class="ui-grid-col-2">
        <label for="app">App</label>
    </div>
    <div class="ui-grid-col-6">
        <app_-auto-complete [(ngModel)]="example.app" id="app" name="app"></app_-auto-complete>
    </div>
</div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="rule">Rule</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="rule" [(ngModel)]="example.rule" name="rule" #rule="ngModel"/>
                </div>
            </div>
        </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="search(dt)"><mat-icon>search</mat-icon>Search</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
    <mat-card-content>
    <p>The list of results below is server-side paginated...</p>

    <p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
        <p-column header="App" sortable="false">
            <ng-template let-app="rowData['app']" pTemplate="body">
                <app_-line [app_]="app"></app_-line>
            </ng-template>
        </p-column>
        <p-column field="rule" header="Rule" sortable="true">
        </p-column>
        <p-column styleClass="col-icon">
            <ng-template let-appWidget="rowData" pTemplate="body">
                <button  pButton type="button" icon="fa-trash" (click)="showDeleteDialog(appWidget)" style="float:left"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="addNew()"><mat-icon>add</mat-icon>Add</button>
    </mat-card-actions>
    </mat-card>
</div>
