<div class="ContentSideSections Implementation">
	<mat-card *ngIf="!sub">
		<mat-card-title>Search AppWidget with search criterias</mat-card-title>
		<mat-card-content>
			<div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #appWidgetForm="ngForm">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						<label for="app">App</label>
					</div>
					<div class="ui-grid-col-6">
						<app_-auto-complete [(ngModel)]="example.app" id="app" name="app"></app_-auto-complete>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2">
						<label for="rule">Rule</label>
					</div>
					<div class="ui-grid-col-6">
						<input pInputText id="rule" [(ngModel)]="example.rule" name="rule" #rule="ngModel"/>
					</div>
				</div>
			</div>

		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button (click)="search(dt)">
				<mat-icon>search</mat-icon>
				Search
			</button>
		</mat-card-actions>
	</mat-card>

	<mat-card>
		<mat-card-content>
			<p-dataTable #dt [value]="currentPage.content" [lazy]="true" [paginator]="false" [responsive]="true">
				<p-column styleClass="col-icon">
					<ng-template let-appWidget="rowData"  pTemplate="body">
						<div *ngIf="appWidget.type==1" class="input">
							<label>{{(appWidget.rule | toJson).label}}</label>
							<input pInputText [(ngModel)]="appWidget.inputValue" name="inputValue" #inputValue="ngModel"/>
						</div>
					</ng-template>
				</p-column>
			</p-dataTable>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button (click)="saveAndGenApp(currentPage.content)">
				<mat-icon>save</mat-icon>
				SaveAndGen
			</button>
		</mat-card-actions>
	</mat-card>
</div>
