<div class="ContentSideSections Implementation">
    <md-card *ngIf="!sub">
        <md-card-title>Search WidgetConfig with search criterias</md-card-title>
        <md-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #widgetConfigForm="ngForm">
<div class="ui-grid-row">
    <div class="ui-grid-col-2">
        <label for="config">Config</label>
    </div>
    <div class="ui-grid-col-6">
        <config_-auto-complete [(ngModel)]="example.config" id="config" name="config"></config_-auto-complete>
    </div>
</div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="inputvalue">Inputvalue</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="inputvalue" [(ngModel)]="example.inputvalue" name="inputvalue" #inputvalue="ngModel"/>
                </div>
            </div>
        </div>

        </md-card-content>
        <md-card-actions>
            <button md-raised-button (click)="search(dt)"><md-icon>search</md-icon>Search</button>
        </md-card-actions>
    </md-card>

    <md-card>
    <md-card-content>
    <p>The list of results below is server-side paginated...</p>

    <p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
        <p-column field="inputvalue" header="Inputvalue" sortable="true">
        </p-column>
        <p-column styleClass="col-icon">
            <ng-template let-widgetConfig="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(widgetConfig)" style="float:left"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button (click)="addNew()"><md-icon>add</md-icon>Add</button>
    </md-card-actions>
    </md-card>
</div>
