<div class="ContentSideSections Implementation">
    <mat-card *ngIf="widgetConfig" ngForm #widgetConfigForm="ngForm">
        <mat-card-title>WidgetConfig Details</mat-card-title>
        <mat-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="config">Config</label></div>
                <div class="ui-grid-col-4">
                    <config_-auto-complete [(ngModel)]="widgetConfig.config" id="config" name="config" [disabled]="sub"></config_-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton type="button" id="gotoConfig" type="button" (click)="gotoConfig()" *ngIf="widgetConfig.config" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton type="button" id="clearConfig" type="button" (click)="clearConfig()" *ngIf="widgetConfig.config" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="inputvalue">Inputvalue </label></div>
                <div class="ui-grid-col-6">
                    <textarea pInputTextarea id="inputvalue" [(ngModel)]="widgetConfig.inputvalue" autoResize="true" name="inputvalue" #inputvalue="ngModel"></textarea>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
         </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="sub" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
            <button mat-raised-button (click)="onSave()" [disabled]="!widgetConfigForm.form.valid"><mat-icon>save</mat-icon>Save</button>
        </mat-card-actions>
    </mat-card>

</div>
