<div class="ContentSideSections Implementation">
	<mat-card *ngIf="app_" ngForm #app_Form="ngForm">
		<mat-card-title>App_ Details</mat-card-title>
		<mat-card-content>
			<div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"><label for="category_">Category </label></div>
					<div class="ui-grid-col-6">
						<input pInputText id="category_" [(ngModel)]="app_.category_" name="category_" #category_="ngModel"/>
					</div>
					<div class="ui-grid-col-4"></div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"><label for="templatePath">Template Path </label></div>
					<div class="ui-grid-col-6">
						<textarea pInputTextarea id="templatePath" [(ngModel)]="app_.templatePath" autoResize="true" name="templatePath" #templatePath="ngModel"></textarea>
					</div>
					<div class="ui-grid-col-4"></div>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button *ngIf="sub" (click)="onCancel()">
				<mat-icon>cancel</mat-icon>
				Cancel
			</button>
			<button mat-raised-button (click)="onSave()" [disabled]="!app_Form.form.valid">
				<mat-icon>save</mat-icon>
				Save
			</button>
		</mat-card-actions>
	</mat-card>
	<mat-card *ngIf="app_ && app_.id">
		<mat-card-subtitle>App_ db relations</mat-card-subtitle>
		<mat-card-content>
			<widget-config *ngIf="showAppWidgets" [app]="app_" sub="true" [header]="'AppWidgets of this app_'" (onAddNewClicked)="showAppWidgets = false"></widget-config>
		</mat-card-content>
	</mat-card>
</div>
