<component name="ArtifactManager">
  <artifact type="apk" name="app">
    <output-path>$PROJECT_DIR$/out/artifacts/app</output-path>
    <properties id="android-properties">
      <options>
        <option name="keyAlias" value="key0" />
        <option name="keyPassword" value="R2lmdEFwcA==" />
        <option name="keyStorePassword" value="R2lmdEFwcA==" />
        <option name="keyStoreUrl" value="file://$USER_HOME$/idegen.jks" />
        <option name="proGuardCfgFiles">
          <list>
            <option value="file://D:/Android/android-sdk/tools/proguard/proguard-android.txt" />
          </list>
        </option>
        <option name="signingMode" value="RELEASE_SIGNED" />
      </options>
    </properties>
    <root id="archive" name="app.apk">
      <element id="android-final-package" facet="app/android/Android" />
    </root>
  </artifact>
</component>